*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
.Container{
    position: relative;
    width: 100%;
    padding: 0;
}
.logo{
    display: block;
    padding: 10px;
}
.navigation{
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    overflow: hidden;
    border-radius: 0px 50px 50px 0px;
 color :rgb(227, 245, 209)");

}
.navigation.active{
    width: 60px;
}
.navigation.active .logo{
    visibility: hidden;
    display: block;
}
.navigation.active .toggler{
    left: 30px;
}
.brand-logo{
    position: relative;
}
.navigation ul{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0px;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}
.navigation ul li.focused{
    border-radius: 40px 0px 0px 40px;
    background: whitesmoke;
    border-left-width: 4px;
    border-left-style: solid;
}
.focused-color-1{
    border-left-color: rgba(246, 180, 61, 255);
    color:  rgba(246, 180, 61, 255);
}
.focused-color-2{
    border-left-color: rgba(176,217,235,255);
    color: rgba(176,217,235,255);
}
.focused-color-3{
    border-left-color: rgba(181, 227, 134, 255);
    color: rgba(181, 227, 134, 255);
}
.navigation ul li a .link-icon{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 3px;
}
.navigation ul li a .link-text{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
}
.toggler{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgba(233,233,233,255);
    cursor: pointer;
    top: 10rem;
    left: 170px;
}
.toggler i{
    text-align: center;
    position: relative;
    top: 10%;
    left: 30%;
}
.toggler i.fa{
    font-size: 15px;
    color: gray;
}
.mobile-toggler{
    display: none;
    visibility: hidden;
}
.main-content{
    position: absolute;
    width: calc(100% - 200px);
    left: 200px;
    min-height: 100vh;
    background: whitesmoke;
    transition: 0.5s;
    padding:20px;
}
.main-content.active{
    width: calc(100% - 60px);
    left: 60px;
}
select.days{
    width: 40%;
    position: relative;
    /* top: 30px; */
    left: 50%;
    outline: none;
    line-height: 1.2;
    box-shadow: 4px 4px 10px rgba(248,248,248,255);
    border-radius: 20px;
}
.header{
    position:relative;
    display: block;
}

.header-text{
    font-size: 30px;
}
.card-switch{
    position: relative;
    display: block;
}
.card-custom{
    box-shadow: 1px 1px 2px gray;
    border-radius: 20px;
}
.card-tag{
    position: relative;
    width: 90%;
    margin: auto;
    padding: 5px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: white;
    bottom: 50px;
    border-radius: 0px 0px 5px 5px;
    white-space: nowrap;
    word-wrap: break-word;
}
#color-1{
    border: 3px solid rgba(173,173,173,255);
}
#tag-color-1{
    background-color: rgba(153,153,153,255);
}
#color-2{
    border: 3px solid rgba(244,218,179,255)
   }
#tag-color-2{
    background-color: rgba(246,179,66,255);
}
#color-3{
    border: 3px solid rgba(236,248,252,255);    
}
#tag-color-3{
    background-color: rgba(176,217,235,255);
}
i.fa{
    font-size: 25px;
}
.chart{
    position: relative;
}
canvas#battery-chart{  max-width: 100%; }

a.modal-trigger{
    text-decoration: none;
    color: transparent;
}
.text{
    margin: 0;
}
.highlight , .disabled{
    margin-bottom: 0px;
    padding: 0px 0px 0px 12px;
    font-weight: bold;
}
.disabled{
    padding: 0px 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
    display: inline-block;
}
.disabled-1{
    background: inherit;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.09);
    display: block;
    border-radius: 4px;
    max-width: 50%;
    margin: auto;
}
.info-group{
    padding-bottom: 20px;
}
.card-title{
    position: relative;
    text-align: center;
    background-color: rgb(225, 225, 225);
    max-width: 50%;
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 8px 15px;
    bottom: 50%;
}
.curve{
    border-radius: 1.2rem;
}

.box-text{
    font-weight: bolder;
}
.field-card{
    max-height: var(--bs-scroll-height, 75vh);
    overflow-y: auto;
}

.modal-dialog{
    margin: auto;
    padding: 0;
}
.modal-content{
    height: auto;
    min-height: 100%;
    border-radius: 0;
}
i.fa.fa-circle{
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}
.table{
    text-align: center;
    color: rgba(116,116,116,255);
}
td.last{
    color: rgba(235, 188, 88,255);
}
.position-relative-example {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    /* padding: 20px; */
}
.position-relative-example div {
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    /* background-color: #343a40; */
}
i.cycle-icon{
    font-size: 100px;
}
.fade-arrow{
    background-image:linear-gradient(to right,#fb9b00,#ffe5bb);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.chart-caption{
    position: relative;
    font-size: 10px;
    margin: 0;
    padding: 0px;
    left: 50px;
    color: rgba(116,116,116,255);
    font-weight: bold;
}