@media screen and (min-width: 769px) and (max-width: 991px){
  .navigation{
    width: 60px;
  }
  .main-content{
    width: calc(100% - 60px);
    left: 60px;
  }
  .navigation .logo {
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  .navigation {
    /* overflow: hidden;
    position: fixed;
    -webkit-transform: translateZ(0);
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0; */
    position: relative;
    width: 100%;
    height: 55px;
    /* top: 100px; */
    bottom: 0;
    overflow: auto;
    display: flex;
    border-radius: 50px 50px 0px 0px;
  }
  .navigation .logo {
    display: none;
    visibility: hidden;
  }
  .navigation ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
  .navigation ul li{
    position: relative;
    width: auto;
    list-style: none;
    padding: 0px;
    display: inline-block;
    border: none;
    border-radius: none;
    background-color: white;
  }
  .navigation ul li span.link-text{
    display: none;
    visibility: hidden;
  }
  .navigation ul li.focused{
    background: white;
    border: none;
  }
  .unfocused{
    color: gray;
}
  .brand-logo{
    display: none;
  }
  .main-content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    background: whitesmoke;
    transition: 0.5s;
    padding: 20px;
  }
  /* .main-content.active {
    width: 100%;
    left: 0px;
  } */
  .toggler{
    display: none;
    visibility: hidden;
  }
    .mobile-toggler{
      position: relative;
      display: flex;
      visibility: visible;
      cursor: pointer;
  }
  .mobile-toggler i{
      text-align: center;
      position: relative;
      top: 0;
      left: 0;
  }

  .navigation.mobile-active span.link-text{
    display: block;
    visibility: visible;
  }
  select.days{
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width : 576px){
  .main-content.mobile-active{
    height: calc(100% - 100px);
    top: 155px;
  }
  .navigation.mobile-active{
    height: 155px;
  }
  .navigation.mobile-active ul :nth-child(4){
    position: fixed;
    left: 80%;
    margin-bottom: 80px;
  }
  .navigation.mobile-active ul{
    flex-direction: column;
    align-content: center;
    top: 5px;
    left: 5px;
  }
  .header-text{
    font-size: 20px;
  }
}
